* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1e1e2f;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar {
    width: 100%;
    background-color: #181824;
    padding: 20px;
}

.sidebar h2 {
    color: #ff652f;
    margin-bottom: 20px;
    display: inline-block;
}

.sidebar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar ul li {
    margin-right: 30px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.new-trailers{
    margin-top: 10vh;
}

.trailer-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.trailer-card{
    padding: 10px;
    border-radius: 10px;
    text-align: start;
}

.trailer-card img{
    width: 15vw;
    border-radius: 10px;
}

.trailer-card p{
    font-size: 16px;
    margin-bottom: 5px;
}

.trailer-card span{
    color: #4d4d4d;
    font-size: 14px;
}

main {
    flex-grow: 1;
    padding: 20px;
}

h3 {
    color: #ff652f;
    margin-bottom: 10px;
}

.continue-watching, .popular-movies{
    margin-bottom: 40px;
}

.movie-list{
    display: flex;
    gap: 20px;
}

.movie-card{
    padding: 10px;
    border-radius: 10px;
    width: 30vw;
    text-align: start;
}

.movie-card img{
    width: 70%;
    border-radius: 10px;
}

/*.new-trailers, .continue-watching, .popular-movies {
    margin-bottom: 40px;
}

.trailer-list, .movie-list {
    display: flex;
    gap: 20px;
}



.trailer-card, .movie-card {
    padding: 10px;
    border-radius: 10px;
    width: 30vw;
    text-align: start;
}

.trailer-card img, .movie-card img {
    width: 90%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.trailer-card p, .movie-card p {
    font-size: 16px;
    margin-bottom: 5px;
}

.trailer-card span, .movie-card span {
    color: #8a8a8a;
    font-size: 14px;
}*/