* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1e1e2f;
    color: white;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #181824;
    padding: 20px;
}

.sidebar h2 {
    color: #ff652f;
    margin-bottom: 40px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

main {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

h3 {
    color: #ff652f;
    margin-bottom: 10px;
}

.new-trailers, .continue-watching, .popular-movies {
    margin-bottom: 40px;
}

.trailer-list, .movie-list {
    display: flex;
    gap: 20px;
}

.trailer-card, .movie-card {
    background-color: #252537;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}

.trailer-card img, .movie-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.trailer-card p, .movie-card p {
    font-size: 16px;
    margin-bottom: 5px;
}

.trailer-card span, .movie-card span {
    color: #b2b2b2;
    font-size: 14px;
}