*{
    margin: 0;
    padding: 0;
    background-color: #181824;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, li{
    list-style: none;
}


header{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu h2{
    font-size: 35px;
    color: white;
}

.menu ul{
    display: flex;
    gap: 32px;
    font-size: 32px;
    color: white;
}


.trailers h3{
    font-size: 30px;
    margin-top: 2vh;
    color: white;
}

.breeshma img{
    width: 250px;
    border-radius: 10px;
    margin-top: 1vh;
    gap: 3px;
}

.panther img{
    width: 250px;
    border-radius: 10px;
    gap: 3px;
}


.bloco img{
    width: 50vw;
    border-radius: 10px;
}

.watch img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-right: 10px;
}

.movies img{
    width: 250px;
    border-radius: 10px;

}









































